<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>EMPLOYEE CREATE</h1>
<br>
<form action="#" th:action="@{/showestimatedvalue}" th:field="${id}" method="POST">
  <table border="2">
    <tr>
      <td><label>id</label></td>
      <td><label>strategy</label></td>
    </tr>
    <tr>
      <td><input type="number" th:field="${id}" th:name="card_id"></td>
      <select th:name="strategy">
        <option th:value="simple" th:text="simple"></option>
        <option th:value="scarcity" th:text="scarcity"></option>
      </select>
      <td><button type="submit">save</button></td>
    </tr>

  </table>
</form>
</body>
</html>